
<!DOCTYPE html>
									<html lang="es">
									<head>
										<meta charset="UTF-8">
										<title>Encabezado</title>
										
									</head>
									<body>
										<table style="width: 100%;text-align: center;">
											<tr>
												<td><img height="50px" src="http://localhost/mis_doc_papis/header_banner.png"</td>
												<td><img height="50px" src="http://www.aytoleon.es/Style%20Library/Images/escudo.gif"></td>
												<td><H5>Programa de inclusión social.</H5> <small>Ayuntamiento de León</small> </td>
												<th><p><strong>E.D.I.S.</strong></p>
												<p style="color: #B8B8B8;">Equipos de Inclusión Social. </p></th>
											</tr>
											<hr>
										</table>
											<hr>
									</body>
									</html>